block content
  .chat_module
    .module_title Player Chat
    .controls
      | Name: 
      input#username
    #chatbox
    .controls
      input#chatfield()
      input#sendbtn(type='button', value='send')
