block content
  .module
    .module_title Character
    .controls
      div.char_name #{character.name}
      div.char_attrs
        | #{character.race} #{character.class}
        br
        | #{character.alignment}
