block content
  .chat_module
    .module_title Player Chat
    .controls
      div.user_name Name: #{username}
      div.buddylist-title Online Users
    #chatbox
    #buddylist
    .controls
      input#chatfield()
      input#sendbtn(type='button', value='send')

script.
  var username = "#{username}";

