block content
  .login_element
    .module_title Sign up
    form.login(action='/signup', method='post')
      .login_text Username: 
      input#username(name='username', type='text')
      br
      .login_text Password: 
      input#password(name='password', type='password')
      br
      input#sendbtn(type='submit', value='Submit')
