extends layout

block extraHeader
  title D&D Platform
  script(src='/socket.io/socket.io.js')
  script(src='/lib/jquery-2.1.1.min.js')
  script(src='/lib/moment.min.js')
  script(src='/js/chat.js')

block content
  include _chat

  .controls
    a(href='/logout') Click here to make all your wildest dreams come true.
