doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/alertify.core.css')
    link(rel='stylesheet', href='/css/alertify.default.css')
    script(src='/lib/jquery-2.1.1.min.js')
    script(src='/lib/alertify.min.js')
    block extraHeader
  body
    block banner
      .banner
        a(href='/' class='banner_title') D&D Platform
        a(href='/logout' class='banner_text') Logout
        a(href='/users/me' class='banner_text') Change Character
    block content

