extends layout

block extraHeader
  title D&D Platform - Login
  link(rel='stylesheet', href='/css/login.css')

block content
  include _login
  include _signup

  script.
    if ('#{error}') {
      alertify.error("#{error}");
    }
    if ('#{success}') {
      alertify.success('#{success}');
    }
