extends layout

block extraHeader
  title D&D Platform - Login
  script(src='/lib/jquery-2.1.1.min.js')
  script(src='/js/login.js')

block content
  .module_title
    | Log In
  include _login.jade
  .module_title
    | Signup
  include _signup.jade

