extends layout

block extraHeader
  title Choose Character
  link(rel='stylesheet', href='/css/char.css')

block content
  .module
    .module_title Pick Your Character
    br
    form#char_list(action='/users/chars', method='post')
      | Active character: #{active_char}
      br
      br
      | Characters owned by you:
      br
      - var user = user_with_chars
      - var chars = user.characters
        each item in chars
          input.char_list_item(type='radio', value='#{item._id}', name='char_selection')
          a(class='button' href='/chars/#{item._id}') #{item.name}
          br
      br
      input#choosechar(type='submit', value='Use character')
      br
      br
      a(class='button' href='/chars/new') Create a new character
