body {
  font-size: 1em;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.banner {
  font-size: 2em;
  height: 1.1em;
}

a.banner_text:link, a.banner_text:visited {
  text-decoration: none;
  font-weight: bold;
  color: green;
}

.module {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  border: solid 1px #999;
  margin: 5px;
}

.module_title {
  font-size: 1.2em;
  font-style: italic;
}

.controls {
  margin: 0.2em;
}


